RaspberryPi/bin/*
!RaspberryPi/bin/.gitkeep
RaspberryPi/CMakeCache.txt
RaspberryPi/CMakeFiles/
RaspberryPi/cmake_install.cmake
RaspberryPi/compile_commands.json  
RaspberryPi/Makefile

XMC/Dave/Generated
XMC/Debug
XMC/Docs

